In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [49]:
# How many people of each race are represented in this dataset? 

race_counts = df['race'].value_counts()
race_counts

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [50]:
# Check if there are null values in the dataset.

df.isnull().values.any()

False

In [51]:
# What is the average age of men?

average_age_men = df[df['sex']=='Male']['age'].mean()
average_age_men

39.43354749885268

In [52]:
# What is the average age of women?

average_age_women = df[df['sex']=='Female']['age'].mean()
average_age_women

36.85823043357163

In [53]:
# What is the percentage of people who have a Bachelor's degree?

percentage_bachelors = len(df[df['education']=='Bachelors'])*100/len(df.index)
percentage_bachelors

16.446055096587944

In [48]:
# What is the percentage of people who have a HS-grad's degree?  

percentage_HSgrad = len(df[df['education']=='HS-grad'])*100/len(df.index)
percentage_HSgrad

32.25023801480299

In [71]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

# 1.Select individuals with advanced education (Bachelors, Masters, or Doctorate).
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# 2.Filter the advanced education group to include only those with income greater than 50K.
high_income_advanced_education = advanced_education[advanced_education['salary'] == '>50K']

# 3.Calculate the percentage of individuals with advanced education and high income.
percentage = (len(high_income_advanced_education) / len(advanced_education)) * 100

# 4.Print the calculated percentage with two decimal places.
print(percentage)

# 5.Print the result with a formatted string.
print(f"The percentage of people with advanced education and income greater than 50K is: {percentage:.2f}%")

46.535843011613935
The percentage of people with advanced education and income greater than 50K is: 46.54%

In [97]:
# What percentage of people with lower education make more than 50K?

# 1.Select people with lower education (not having Bachelors, Masters, or Doctorate).
lower_education = df[~df["education"].isin(["Bachelors","Masters","Doctorate"])]

# 2.Select people from the lower education group with income greater than 50K.
high_income_lower_education = lower_education[lower_education['salary']=='>50K']

# 3.Calculate the percentage of people with lower education and high income.
percentage_lower_education = (len(high_income_lower_education)/len(lower_education))*100

# 4.Print the result with a formatted string.
print(f"The percentage of people with lower education and income greater than 50K is: {percentage_lower_education:.2f}%")

The percentage of people with lower education and income greater than 50K is: 17.37%

In [89]:
# What is the minimum number of hours a person works per week?
min_hours = df['hours-per-week'].min()
min_hours

1

In [98]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

# 1.Select people who work the minimum number of hours per week (e.g., 1 hour).
minimum_hours = df[df['hours-per-week'] == df['hours-per-week'].min()]

# 2.Select people from this group with an income greater than 50K.
high_income_minimum_hours = minimum_hours[minimum_hours['salary'] == '>50K']

# 3.Calculate the percentage of people with a minimum number of hours per week and a high income.
percentage_minimum_hours = (len(high_income_minimum_hours) / len(minimum_hours)) * 100

# 4.Print the result with a formatted string.
print(f"The percentage of people who work the minimum number of hours per week and have a salary of >50K is {percentage_minimum_hours:.2f}%")

The percentage of people who work the minimum number of hours per week and have a salary of >50K is 10.00%

In [116]:
# What country has the highest percentage of people that earn >50K and what is that percentage?

# 1.Count the number of individuals from each country in the dataset.
countries = df['native-country'].value_counts()

# 2.Count the number of individuals from each country with a salary >50K.
richest_countries_count = df[df['salary'] == '>50K']['native-country'].value_counts()

# 3.Calculate the percentage of individuals with a salary >50K in each country.
percentage_earning_above_50K = (richest_countries_count * 100 / countries)

# 4.Find the country with the highest percentage of people earning >50K.
highest_earning_country = percentage_earning_above_50K.idxmax()

# 5.Return the country with the highest percentage.
highest_earning_country

'Iran'

In [129]:
# Identify the most popular occupation for those who earn >50K in India.

# 1.Filter the dataset to select individuals from India.
people_india = df[df['native-country'] == 'India']

# 2.Further filter the Indian population to include only those with a salary >50K.
rich_people_india = people_india[people_india['salary'] == '>50K']

# 3.Count the occurrences of each occupation in the rich Indian population and find the most popular occupation.
popular_occupation = rich_people_india['occupation'].value_counts().idxmax()

# 4.Return the most popular occupation among those earning >50K in India.
popular_occupation

'Prof-specialty'